# Rockchip SPI-NOR environment for the G98 NVR board.
mtime=0
compat=0
autoload=1
baudrate=1500000
ipaddr=10.10.10.1
serverip=10.10.10.2
netmask=255.255.255.0
hostname=g98
bootdelay=1
verify=yes
loadaddr=0xc00000
fdt_high=0xfffffffe
initrd_high=0xfffffffe
kernel_addr_r=0x0400000
fdt_addr_r=0x0e00000
scriptaddr=0x00500000
pxefile_addr_r=0x00600000
boot_targets=fdt usb scsi nvme pxe
bootcmd=run distro_bootcmd
bootcmd_mmc0=load mmc 0:1 0x0c000000 /boot/Image; load mmc 0:1 0x0e00000 /boot/rk3588s-g98.dtb; booti 0x0c000000 - 0x0e00000
bootcmd_sfc=load sfc 0:1 0x0c000000 /Image; load sfc 0:1 0x0e00000 /rk3588s-g98.dtb; booti 0x0c000000 - 0x0e00000
distro_bootcmd=run bootcmd_sfc
